#intro-section {
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    text-align: center;
    display: flex;
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    line-height: 1;
    letter-spacing: 1px;
}

.intro-image {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-position: center;
    background-color: rgb(201, 199, 199);
    background-blend-mode: multiply;
}