<main class="main-container">
    <section class="section-container">
        <h1 class="contact-text-heading-styles heading-font">Work With Us</h1>
        <div class="right-div-container">
            <p class="work-with-us-paragraph main-font">
                With decades of experience in luxurious Tri Valley real estate, our team is here to ensure that your dreams are a reality. Let us guide you through your home buying journey, contact us today!
            </p>
        </div>
    </section>
    <section class="section-container">
        <h1 class="contact-text-heading-styles heading-font">Contact Me</h1>
        <div class="right-div-container">
            <div class="login-box">
                <form class="contact-form-style" id="contact-form" value="">
                    <div class="user-box">
                        <div class="status-placeholder"></div>
                        <input  id="nameInput"   
                                class="form-input-style nameInput" 
                                name="name"
                                aria-invalid="false" 
                                required="" 
                                placeholder="Tell me your name" 
                                onfocus="this.placeholder=''"
                                onblur="this.placeholder='Tell me your name'" 
                                autocomplete="off">
                        <label for="nameInput" class="form-label-style code">Name</label>
                    </div>
                    <div class="user-box">
                        <div class="status-placeholder"></div>
                        <input  id="emailInput" 
                                class="form-input-style" 
                                name="email" 
                                type="email" 
                                aria-invalid="false" 
                                required="" 
                                placeholder="Your email address"
                                onfocus="this.placeholder=''"
                                onblur="this.placeholder='Your email address'" 
                                autocomplete="off">
                        <label for="emailInput" class="text-gray-500 font-medium mt-3 code">Email Address</label>
                    </div>
                    <div class="user-box mt-3">
                        <div class="status-placeholder"></div>
                        <textarea   id="messagesTextarea" 
                                    class="form-text-area-style textarea" 
                                    name="messages" 
                                    rows="5" 
                                    cols="5" 
                                    aria-invalid="false" 
                                    required="" 
                                    placeholder="How can I help?"
                                    onfocus="this.placeholder=''"
                                    onblur="this.placeholder='How can I help?'" 
                                    autocomplete="on"></textarea>
                        <label for="messagesTextarea" class="form-label-style code">Message</label>
                    </div>
                    <button class="form-btn-style button" id="submit-button" style="text-align: center;">Send Message</button>
                </form>                                      
            </div>
        </div>
    </section>
</main>